# SPDX-FileCopyrightText: 2024 Roy Wright <roy@wright.org>
#
# SPDX-License-Identifier: MIT

.python-version
dist/
metrics/
site/
.tox/
.nox/
.reuse/
.coverage
**/__pycache__/*.pyc
reuse.spdx
**/*_cache/
**/.cache/
tests/*.lastrun
taskfiles/front-end*.yaml
**/requirements*.txt*
src/*.egg-info
REUSE.toml
